<div class="main-cont">
  <h1>
    NG2 Basics
  </h1>

  <div>
    <ts-tasks></ts-tasks>
  </div>


  <!--<div class="panel panel-info">-->
    <!--<div class="panel-heading">hello-world</div>-->
  <!--</div>-->


  <!--<div class="panel panel-info">-->
    <!--<div class="panel-heading">personal-data</div>-->
  <!--</div>-->


  <!--<div class="panel panel-info">-->
    <!--<div class="panel-heading">interactive-personal-data</div>-->
  <!--</div>-->

  <!--<div class="panel panel-info">-->
    <!--<div class="panel-heading">text-field-with-delay</div>-->
    <!--<div class="panel-body">-->
      <!--<label>Bob name: {{ bob.name }}</label>-->
      <!--<hr/>-->
      <!--<text-field-with-delay [(myValue)]="bob.name"></text-field-with-delay>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="panel panel-info">-->
    <!--<div class="panel-heading">parent</div>-->
    <!--<my-parent></my-parent>-->
  <!--</div>-->

  <!--<div class="panel panel-info">-->
    <!--<div class="panel-heading">roperty-binding-example</div>-->
  <!--</div>-->

  <!--<div class="panel panel-info">-->
    <!--<div class="panel-heading">two-way-binding-example</div>-->
  <!--</div>-->

  <!--<div class="panel panel-info">-->
    <!--<div class="panel-heading">todos-list</div>-->
  <!--</div>-->

  <!--<div class="panel panel-info">-->
    <!--<div class="panel-heading">pipes-examples</div>-->
    <!--<pipes-examples></pipes-examples>-->
  <!--</div>-->

</div>
