<div class="panel">
  <h3>TODOs</h3>
  <ol class="todo-list">
    <li>
      <div class="todo-item">
        <strong class="title">
          <input type="checkbox"/>
          title TODO
        </strong>
        <div class="desc">desc TODO</div>
        <button>Edit</button>
        <button>Remove</button>

        <!-- TODO: edited todo component instance -->
      </div>
    </li>
  </ol>
  <div>
    <div>
      Title: <input type="text"/>
    </div>
    <div>
      Description: <input type="text"/>
    </div>
    <button>Add</button>
  </div>
</div>
